/*!
 * Onyx CSS Framework v1.0
 * A comprehensive, production-ready CSS framework with 25+ components
 * Designed exclusively for OnigiriJS
 * 
 * Copyright 2026 Onyx CSS
 * BSD-3-Clause license
 * 
 * Color Palette: Inspired by Onyx gemstone
 * Design Philosophy: Dark luxury meets geometric precision
 */

/* Display */
.d-none { display: none; }
.d-block { display: block; }
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-flex { display: flex; }
.d-inline-flex { display: inline-flex; }
.d-grid { display: grid; }